html{
    background-image: url(../Images/fondo.jpg);
}

body{
    border-radius: 15px;
    background-color: rgba(47, 0, 255, 0.507);
    margin: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 200px;
    padding-right: 200px;
    text-align: center;
}

#formularioCumple{
    margin-bottom: 20px;
}

label{
    display: inline-block;
    width: 75px;
}

#contenedorFechas{
    border-radius: 15px;
    border: 1px black solid;
    text-align: center;
    padding: 20px;
    background-color: rgba(47, 0, 255, 0.699);
}

li{
    border-radius: 15px;
    background-color: lightgrey;
    color: black;
    padding: 20px;
    width: 250px;
    margin: auto;
    margin-bottom: 20px;
    list-style: none;
}

img{
    width: 200px;
    border-radius: 100%;
}