<div class="card">
    <div class="card-header bg-primary text-white">
        {{titulo}}
    </div>
</div>
<div class="card-block">
    <div class="table-responsitive">
        <label for="busquedaProductos">Búsqueda: </label>
        <input type="text" name="busquedaProductos" id="busquedaProductos" (input)="onSearch($event)">
        @if (productos != null){
        @if(productos.length != 0){
        <table class="table table-stripped">
            <thead>
                <tr>
                    <th><button (click)="toggleImagenes()" [class]="botonFlag()? clasesBoton : clasesBotonFalse">
                            @if(botonFlag()){
                            Mostrar
                            } @else{
                            Ocultar
                            }

                        </button></th>
                    <!--<th>{{ cabecera.imagenUrl }}</th>-->
                    <th>{{ cabecera.descripcion }}</th>
                    <th>{{ cabecera.precio }}</th>
                    <th>{{ cabecera.disponibilidad }}</th>
                    <th>{{ cabecera.puntuacion }}</th>
                </tr>
            </thead>

            <tbody>
                @for(producto of productosFiltrados() | filtroProductos: filtroBusqueda(); track producto.id; let i =
                $index; let esPar = $even) {
                <tr app-item-producto [producto]="producto" [verImagenes]="botonFlag()"
                    (productoClicked)="onProductoClicked($event)">
                </tr>
                }
            </tbody>
        </table>
        }
        }
    </div>