<nav class="navbar navbar-expand-lg navbar-dark bg-dark bg-gradient">

  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" routerLink="/bienvenida" routerLinkActive="active">Bienvenida</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/area-seleccion" routerLinkActive="active">Selección de Luchador</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/modificar-retratos" routerLinkActive="active">Modificar Retratos</a>
      </li>
    </ul>
  </div>
</nav>
