<h2>Lista de Productos</h2>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="Buscar productos" [(ngModel)]="filtro">
            </div>
        </div>
    </div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>
                  <button class="btn" 
                          [ngClass]="{'btn-danger': mostrarImagenes, 'btn-primary': !mostrarImagenes}"
                          (click)="toggleImagenes()">
                      {{ mostrarImagenes ? 'Ocultar' : 'Mostrar' }}
                  </button>
                </th>
                <th>Productos</th>
                <th>Precio</th>
                <th>Disponibilidad</th>
                <th>Puntuación</th>
            </tr>
        </thead>
        <tbody>
          @for (producto of productos | filtroProductos: filtro; track producto.id) {
            <tr item-producto 
                [producto]="producto" 
                [mostrarImagenes]="mostrarImagenes"
                (estrellasCambiadas)="cambioEstrellas(producto, $event)">
            </tr>
          }
        </tbody>
    </table>
</div>
