:host {
    display: flex;
    flex-direction: column;
    justify-content: flex-end; /* Align content to the bottom */
    align-items: center;
    height: 100%;
    width: 100%;
  }
  
  .container-fluid {
      background-color: rgba(80, 55, 111, 0.8);
      height: 50vh;
      border-radius: 20px;
      color: white;
  }
  
  img{
      height: 250px;
  }
  
  img.oponente{
      transform: scaleX(-1);
  }