<div class="container-fluid d-flex justify-content-center align-items-center">
  <!-- Sección Izquierda: Grid de retratos de luchadores -->
  <div class="col-2 d-flex flex-wrap justify-content-center align-items-center gap-2">
    @for (luchador of luchadores; track luchador.nombre; let i = $index) {
    <div class="retrato-container">
      <app-retrato-luchador [luchador]="luchador" [numLuchador]="i" [indiceSeleccionado]="indiceSeleccionado"
        (seleccionado)="seleccionarLuchador(i)">
      </app-retrato-luchador>
    </div>
    }
  </div>

  <!-- Sección Central: Animación del luchador seleccionado -->
  <div class="col-6 d-flex justify-content-center align-items-center">
    @if (indiceSeleccionado !== -1 && luchadores[indiceSeleccionado]) {
    <img [src]="luchadores[indiceSeleccionado].animacion" alt="Animación" class="img-fluid">
    }
  </div>

  <!-- Sección Derecha: Información y estadísticas del luchador -->
  <div class="col-3 d-flex flex-column justify-content-center align-items-center">
    @if (indiceSeleccionado !== -1 && luchadores[indiceSeleccionado]) {
    <!-- Nombre del luchador -->
    <h2 class="text-white">{{ luchadores[indiceSeleccionado].nombre }}</h2>

    <!-- Componentes que muestran los atributos del luchador
           Cada uno recibe:
           - nombreAtributo: nombre del atributo a mostrar
           - [valorAtributo]: valor numérico del atributo -->
    <app-atributos-luchador nombreAtributo="Fuerza" [valorAtributo]="luchadores[indiceSeleccionado].fuerza">
    </app-atributos-luchador>
    <app-atributos-luchador nombreAtributo="Destreza"
      [valorAtributo]="luchadores[indiceSeleccionado].destreza"></app-atributos-luchador>
    <app-atributos-luchador nombreAtributo="Vida" [valorAtributo]="luchadores[indiceSeleccionado].vida">
    </app-atributos-luchador>
    <button (click)="seleccionarYLuchar()" class="btn btn-dark mt-2" style="width: 300px;">Seleccionar</button>
    }
  </div>
</div>
