<div class="card">
  <img [src]="luchador.retrato" alt="{{ luchador.nombre }}" class="card-img-top">
  <div class="card-body">
    <h5 class="card-title">{{ luchador.nombre }}</h5>
    <div class="form-group">
      <label for="fileInput">Seleccionar nuevo retrato:</label>
      <input type="file" class="form-control-file" id="fileInput" (change)="onFileSelected($event)">
    </div>
    <button class="btn btn-primary" (click)="uploadFile()" [disabled]="!selectedFile">Actualizar Retrato</button>
  </div>
</div>
