full-screen-image {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f8f9fa;
  }
  img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
  }